@font-face {
    font-family: 'DejaVu';
    src: url('./Fonts/DejaVuSans.woff2');
}

@font-face {
    font-family: 'gilroy';
    src: url('./Fonts/Gilroy-Light.woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DejaVu";
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #131212;
}

/* Loader Animation */
@keyframes moving {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-49%);
    }
}

#loaderDiv div span{
    animation-name: moving;
    animation-duration: 0.8s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
}

#hamburger h3 span {
    transform-origin: left bottom;
}

#nav-part2 a {
    font-family: 'gilroy';
}

#nav-part2 a::before {
    content: "";
    position: absolute;
    width: 100%;
    background: rgb(22, 229, 22);
    height: 0.3vh;
    bottom: -5%;
    left: -100%;
    transition: 0.3s;
}

#nav-part2 a:hover::before {
    left: 0;
}

.riskUtha,
.naamBana {
    transform-origin: bottom left;
}

.page2 p {
    font-family: 'gilroy';
}

#page4 h4 {
    font-family: 'gilroy';
}

.product:hover {
    background: linear-gradient(to right, rgb(0, 61, 0), rgb(0, 0, 0));

}
